@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Podkova&family=Work+Sans:wght@400;500;800&display=swap');

html {
    background-color: #041562;
    color: whitesmoke;
    font-family: 'Podkova', serif;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: aliceblue;
    width: 310px;
    height: 50px;
}

.subtitulo {
    color: aliceblue;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 100px;
    height: 100px;
    background: hotpink;
    padding: 10px;
    box-sizing: border-box;
}

input {
    display: none;
}